
.Entry{
    width: calc(100% - 20px);
    background-color: var(--color-input);
    color: var(--color-text-light);
    border-radius: 6px;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    opacity: 0.3;
}
.Entry-Name{
    padding-left: 8px;
    margin-block-start: 0;
    margin-block-end: 0;
    user-select:none;
}

.Entry-Status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 20px;
    height: 20px;
}

.Entry:hover{
    cursor: pointer;
}

.CurrentDay .Entry {
    opacity: 1;
}

.Entry-Status-Homeoffice {
    background-color: var(--color-homeoffice);
}

.Entry-Status-Vacation {
    background-color: var(--color-vacation);
}

.Entry-Status-Vacation .icon{
    fill: var(--color-black);
}

.Entry-Status-Training {
    background-color: var(--color-training);
}

.Entry-Status-Ill {
    background-color: var(--color-ill);
}

.Entry-Status-Ill .icon{
    width: 20px;
    height: 20px;
}

.Entry-Status-Absent {
    background-color: var(--color-absent);
}
