@import '../../index.css';

:root {
    --color-main: var(--color-gray);
    --color-darker: #333333;
    --borderradius-default: 20px;
    --transition-default: 0.3s;
   }

 ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

div {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: 'Roboto', sans-serif;
}

button, a {
    font-family: 'Roboto', sans-serif;
}

.icon {
    fill: white;
    transition: 0.3s;
}
